.contact {
  .contact-content {
    width: 100%;
    .contact-card {
      width: 100%;
      display: flex;
      flex-direction: column;
      border: 1px solid $light;
      border-radius: $border-radius;

      .contact-infos {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $white;
        padding: 30px 10px;
        gap: 30px;
        border-radius: $border-radius;

        .logo {
          width: 10rem;
        }

        .infos-items {
          .infos-item {
            margin-bottom: 10px;
            display: flex;
            align-items: center;

            .fas {
              padding-right: 10px;
              font-size: 1.6rem;
            }
          }
        }

        .socials {
          display: flex;
          gap: 40px;
          .fab {
            font-size: 3rem;
          }
          #instagram {
            color: #d94287;
          }
          #facebook {
            color: #3b5998;
          }
        }
      }

      .contact-form {
        background-color: $bg-color;
        padding: 20px 10px;
        border-radius: $border-radius;
      }
    }
  }

  @media screen and (min-width: 700px) {
    .contact-content {
      width: 800px;
      .contact-card {
        flex-direction: row;

        .contact-infos {
          align-items: flex-start;
          width: 35%;
          padding: 30px 20px;

          .logo,
          h3,
          .socials {
            margin: 0 auto;
          }

          .socials {
            gap: 20px;
          }
        }
        .contact-form {
          width: 65%;
          padding: 30px 20px;

          form {
            width: auto;

            button {
              width: auto;
              margin-right: 0;
            }
          }
        }
      }
    }
  }
}
