.edit-hours {
  .form-edit-hours {
    .hours-day {
      margin: 50px 0 10px;
      font-size: 1.3rem;
      font-weight: 700;
    }
    .select-hours {
      display: flex;
      justify-content: space-between;

      label {
        flex: 1;
      }

      select {
        flex: 1;
        font-size: 1.1rem;
        border: 1px solid $gray;
        border-radius: $border-radius;
        outline: none;
      }

      span {
        margin: 0 8px;
      }
    }
  }
}
