.occasions {
  .occasions-content {
    .occasions-text {
      margin-bottom: 40px;
      @media screen and (min-width: 700px) {
        text-align: center;
      }
    }
    .occasions-btn {
      @include button;
    }
  }
}

.occasions-management {
  .filter-section {
    border-bottom: 1px solid $light;
    border-top: 1px solid $light;
    .filter-content {
      width: 100%;
      margin: 20px auto;
      .filters {
        .filter {
          display: flex;
          justify-content: space-between;
          label {
            width: 120px;
          }
          input {
            width: 85px;
            font-size: 1rem;
          }
        }
      }
    }

    .filter-btns {
      margin-top: 20px;
      display: flex;

      .filter-btn {
        @include button;
      }

      button {
        background-color: $blue !important;
      }
    }
  }

  .occasions-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    margin: 60px auto;

    .occasions-card {
      width: 300px;
      height: auto;
      border: 1px solid $gray;
      border-radius: $border-radius;

      .occasions-img {
        width: 100%;
        height: 220px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $light;
        border-bottom: 1px solid $gray;
        border-radius: $border-radius;

        img {
          max-width: 100%;
        }
      }

      .occasions-infos {
        padding: 20px 10px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .occasions-title {
          font-size: 1.3rem;
          font-weight: 700;
          text-transform: uppercase;
        }

        .occasions-specs {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
      }

      .occasions-btns {
        display: flex;
        justify-content: space-around;
        padding: 20px 10px;
      }
    }
  }
}

.occasions-details {
  .occasion-infos {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .occasion-img {
      width: 340px;
      height: auto;
      margin: 0 auto;

      img {
        max-width: 100%;
        border-radius: $border-radius;
      }
    }
    h3 {
      font-family: "Nunito", sans-serif, "arial", sans-serif;
    }
    .occasion-infos-numbers {
      display: flex;
      justify-content: space-between;
    }
  }
}

@media screen and (min-width: 700px) {
  .occasions-management {
    .filter-section {
      margin-top: 40px;
      .filter-content {
        .filters {
          display: flex;
          justify-content: space-between;
          .filter {
            label {
              width: fit-content;
              margin-right: 10px;
            }
            span {
              margin: 0 10px;
            }

            input {
              width: 65px;
              font-size: 0.9rem;
            }
          }
        }
      }
    }

    .occasions-list {
      flex-direction: row;
      align-items: center;
      flex-wrap: wrap;
      gap: 25px;

      .occasions-card {
        width: 240px;
        cursor: pointer;
        transition: transform 0.5s;

        .occasions-img {
          width: 100%;
          height: 180px;
        }

        .occasions-btns {
          a {
            font-size: 1.1rem;
          }
        }
      }

      .occasions-card:hover {
        transform: scale(1.04);
      }
    }
  }
}
