.reviews {
  .reviews-content {
    .reviews-cards {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 50px;
      margin-bottom: 40px;

      .reviews-card {
        width: 240px;
        height: 230px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.6rem;
        font-weight: 700;
        border-radius: $border-radius;
        border: 2px solid $gray;
      }
    }

    .reviews-btn {
      @include button;
    }
  }
}
